.jumbotron {
  padding-top: 6rem;
  background-color: #edfbfd;
}

#tentang {
  padding-top: 6rem;
}
#teks-berita {
  padding-top: 6rem;
  background-color: #edfbfd;
}

#kontak {
  padding-top: 6rem;
}
